name: Checks

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-lint:
    name: Test and Lint
    runs-on: ubuntu-latest

    steps:
      # Checkout your code
      - name: Checkout repository
        uses: actions/checkout@v3

      # Log in to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Set up Docker Compose
      - name: Set up Docker Compose
        uses: docker/setup-compose-action@v1
        with:
          version: 'v2.23.1'  
      - name: Start services
        run: docker compose up -d --build
        
      # Run Django tests
      - name: Run tests
        run: docker compose run --rm app sh -c "python manage.py wait_for_db && python manage.py test"

      # Run flake8 linting
      - name: Lint code
        run: docker compose run --rm app sh -c "flake8"
